*.pyc
*.pyo
*.sqlite3
.metadata/
Thumbs.db
.DS_Store
.idea/*
mdid3/settings_local.py
solr/logs/*.log
solr/solr/data/
solr/wrapper.*
solr/wrapper-license.conf
rooibos/apps/
rooibos/static/flowplayer/flowplayer.commercial*
rooibos/static/cache/*
rooibos/*/migrations/
rooibos/settings_local.py
config.xml
CACHE
bin-debug/
unused_bin/
scratch/
2*M.mysql
bin-release-temp/
static/*
