# install with:  pip install -r requirements.txt
python-dateutil
MySQL-python
Django
django-grappelli
django-extensions
django-debug-toolbar
python-ldap
python-memcached
# PIL=>1.1.7
flickrapi
reportlab
Werkzeug
Pillow
werkzeug
flup
https://pyodbc.googlecode.com/files/pyodbc-3.0.7.zip
pika
pycrypto
pep8-naming
flake8-todo
flake8-docstrings

# notes
#
#  PIL requires libjpeg in order to process jpegs
#  if you can't see images or you see a no jpeglib error, try:
#  >  pip uninstall PIL
#
#       unbuntu:        > sudo apt-get install libjpeg8-dev
#       rhel/centos:    > sudo yum install libjpeg8-dev
#       mac os x:       > brew install libjpeg8-dev
#
#  >  pip install PIL
#
# non-python dependencies
#
#  git
#  openjdk-6-jre-headless
#  python-setuptools
#  solr
#  memcached or couchbase  http://www.couchbase.com/download
#
#